<html>
	<head>
		<title>OpenVideoData</title>
		<style>
			body {
				font-family: sans-serif;
				max-width: 800px;
				margin: 50px auto;
				padding: 0px 10px;
			}
			li {
				margin-bottom: .5em;
			}
			#payloadviewer ul {
				list-style-type: none;
			}
			#payloadviewer li {
				margin-bottom: initial;
			}
		</style>
		<script src="https://hcaptcha.com/1/api.js" async defer></script>
	</head>
	<body>
		<h1>OpenVideoData</h1>
		<p>
			OpenVideoData is a public, collaborative project to crowdsource video metadata from across the web. All uploaded metadata is completely anonymous (we track the videos, not you!) and freely available for research and education.
		</p>
		<div style="text-align: center; font-weight: bold;">
			<p>{{ uploads }} crowdsourced metadata uploads</p>
			<p>{{ videos }} unique videos tracked</p>
		</div>
		<!--
		<p>
			Since most web video hosts have no API or severe rate limits, we instead rely on volunteers to upload video metadata as they naturally browse. The goal is to develop extensions for all the major browsers that unintrusively extract this information and upload it to our servers. Full dumps of the database will then be made regularly available for free and unrestricted use by the public.
		</p>
-->
		<h3>How it works</h3>
		<ol>
			<li>You install an OpenVideoData browser extension</li>
			<li>
				You happen to navigate to one of the video sites supported by OpenVideoData
				<div style="margin-top: 10px; margin-left: 10px; font-style: italic;">(currently only youtube, more coming soon!)</div>
			</li>
			<li>
				The extension automatically reads any video metadata already fetched by your browser, extracts a small portion and sends it to the OpenVideoData server
				<div style="margin-top: 10px; margin-left: 10px; font-style: italic;">(no additional requests to the server, ever, it's all client side)</div>
			</li>
			<li>Full database dumps, scrubbed of any identifying information, are made freely available on this website for anyone to use</li>
		</ol>
		<h3>What's collected</h3>
		<ul>
			<li>Video metadata such as title, description, view count, tags, and more</li>
			<li>Metadata upload key - obtainable with just a captcha solve, used solely for spam prevention, and <b>scrubbed from all public data</b></li>
			<li>Metadata upload time - <b>rounded to the nearest day in all public data</b></li>
		</ul>
		<p>
			<button onclick="showpayload()">View an example payload from navigating to the Youtube home page</button>
			<div id="payloadviewer"></div>
		</p>
		<h3>How to start donating metadata</h3>
		<p>
			<i>By following these instructions to install one of the extensions and obtain an upload key, you agree to forfeit any copyright or related claims on any data uploaded on your behalf.</i>
		</p>
		<ol>
			<li>
				<p>Install an extension:</p>
				<ul>
					<!--
					<li>
						<p><a href="/static/openvideodata.user.js">Greasemonkey User Script</a></p>
						<ul>
							<li>Tested on: Violentmonkey (Firefox)</li>
							<li>Supports: YouTube</li>
						</ul>
					</li>
					-->
					<li>
						<a href="#" style="text-decoration: line-through;">Firefox (coming soon!)</a>
					</li>
				</ul>
			</li>
			<li>
				<p>Get an upload key and add it to your extension's menu:</p>
				<form action="/api/v1/requestKey" method=POST id="requestKeyForm">
					<div class="h-captcha" data-sitekey="a17c9b70-68cc-4e82-9eec-d1adab203ce6"></div>
					<input type="submit" value="Request" />
				</form>
				<p id="keyOutput"></p>
			</li>
		</ol>
		<h3>Source code</h3>
		<ul>
			<li><a href="https://github.com/openvideodata/ovd-server">ovd-server</a> - the web server serving this page, as well as the upload API</li>
			<li><a href="https://github.com/openvideodata/ovd-extensions">ovd-extensions</a> - the uploader web extensions</li>
		</ul>
		<h3>Dumps:</h3>
		<p>
			All these database dumps are released into the public domain according to <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.
		</p>
		<p>
			OpenVideoData.org is operated from the United States, and we don't have database copyright (you can't copyright collections of objective facts). I'm not a copyright expert, nor can I afford a lawyer, so if I get any kind of cease & desist I'll just IP ban non-Americans. Sorry!
		</p>
		<ul>
			<li>... dumps coming soon</li>
		</ul>
		<script>
			const $requestKeyForm = document.querySelector('#requestKeyForm');
			$requestKeyForm.addEventListener('submit', evt => {
				evt.preventDefault();
				const xhr = new XMLHttpRequest();
				xhr.addEventListener('load', evt => {
					console.log('xhr load:', evt.target.responseText);
					const key = JSON.parse(evt.target.responseText);
					document.querySelector('#keyOutput').innerText = key
						? 'Your upload key: ' + key
						: 'error getting key';
				});
				xhr.open('POST', '/api/v1/requestKey');
				xhr.send(new FormData($requestKeyForm));
			});
			let hasShown = false;
			function showpayload(evt) {
				if (hasShown) return;
				hasShown = true;
				const $style = document.createElement('link');
				$style.rel = 'stylesheet';
				$style.type = 'text/css';
				$style.href = '/static/jsonTree.css';
				document.body.appendChild($style);
				const $script = document.createElement('script');
				$script.src = '/static/jsonTree.js';
				document.body.appendChild($script);
				$script.onload = () => {
					const $div = document.querySelector('#payloadviewer');
					fetch('/static/example_upload.json')
						.then(resp => resp.json())
						.then(data => {
							jsonTree.create(data, $div);
						});
				};
			}
		</script>
	</body>
</html>